body {
    background-color: black;
    font-family: Montserrat, Arial,sans-serif;

}

header {
    top: 0;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

header img {
    display: inline-block;
    width: 30%;
}

#spaceholder_mob {
    display: none;
}


#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

.logo a:link {
    color: white;
    text-decoration: none;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 40px;
    transition: 400ms;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 44%;
    margin-right: 44%;
}
.logo a:visited {
    color: white;
    border: 1px solid black;
}
.logo a:hover {
    margin-right: 43%;
    margin-left: 43%;
    color: white;
    border: 1px solid black;
    transition: 400ms; 
    color: black;
    background: white;
} 


.menu_options {
    width: calc(100% - 250px);
    display: inline-block;
}

.menu_options a:link { 
    margin: 50px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: 1px solid black;
    padding-left: 25px;
    padding-right: 25px;
    transition: 400ms; 
    border-radius: 40px;
}

.menu_options a:visited {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    padding: 5px;
    transition: 400ms; 
    border-radius: 40px;
}

.menu_options a:hover {
    border: 1px solid white;
    padding-right: 25px;
    padding-left: 25px;
    transition: 400ms; 
    border-radius: 40px;
}

.gallery_title {
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    color: white;
    text-align: center;
    margin-bottom: 50px;;
}

.preview img {
    width: 20%;
    margin: 5px;
}

.preview hr {
    width: 80%;
    margin-top: 50px;
}

.preview a:link {
    margin: 50px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: 1px solid black;
    padding-left: 25px;
    padding-right: 25px;
    transition: 400ms; 
    border-radius: 40px;
}
.preview a:visited {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    padding: 5px;
    transition: 400ms; 
    border-radius: 40px;
}
.preview a:hover {
    border: 1px solid white;
    padding-right: 25px;
    padding-left: 25px;
    transition: 400ms; 
    border-radius: 40px;
}


.gallery_title_mob {
    display: none;
}

#mail {
    width: 5%;
    border-radius: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}




@media only screen and (max-width:400px) {
    body {
        background-color: black;
        font-family: Montserrat, Arial,sans-serif;
        font-size: 20%;
        display: block;
    }

    header {
        top: 0;
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: right;
    }

    #left {
        display: none;
    }
    
    #right {
        display: none;
    }

    #logo img {
        width: 10%;
    }

    #logo {
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: auto;
    }

    .logo a:link {
        color: white;
        text-decoration: none;
        font-size: 20%;
        border: 1px solid black;
        border-radius: 40px;
        transition: 400ms;
        padding-left: 5px;
        padding-right: 5px;
        left: 5px;
    }
    .logo a:visited {
        color: white;
        border: 1px solid black;
    }
    .logo a:hover {
        margin-right: 43%;
        margin-left: 43%;
        color: white;
        border: 1px solid black;
        transition: 400ms; 
        color: black;
        background: white;
    } 

    .menu_options {
        width: 50%;
    }
    
    .menu_options a:link { 
        color: white;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 20%;
        border: 1px solid black;
        transition: 400ms; 
        border-radius: 40px;
    }
    
    .menu_options a:visited {
        color: white;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        border: 1px solid black;
        transition: 400ms; 
        border-radius: 40px;
    }
    
    .menu_options a:hover {
        border: 1px solid white;
        transition: 400ms; 
        border-radius: 40px;
    }

    #spaceholder_mob {
        display: block;
        margin: 50%;
    }

    .gallery_title {
        margin-top: 180px;
        color: white;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .preview img {
        width: 20%;
        margin: 5px;
    }
    
    .preview hr {
        width: 80%;
        margin-top: 50px;
    }
    
    .preview a:link {
        margin: 50px;
        color: white;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        border: 1px solid black;
        padding-left: 25px;
        padding-right: 25px;
        transition: 400ms; 
        border-radius: 40px;
    }
    .preview a:visited {
        color: white;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        border: 1px solid black;
        padding: 5px;
        transition: 400ms; 
        border-radius: 40px;
    }
    .preview a:hover {
        border: 1px solid white;
        padding-right: 25px;
        padding-left: 25px;
        transition: 400ms; 
        border-radius: 40px;
    }

    .gallery_title {
        display: none;
    }

    .gallery_title_mob {
        display: flex;
        flex-direction: column;
        color: white;
    }

    .gallery_title_mob img {
        display: inline-block;
        width: 50%;
        margin: 5px;
    }

    .gallery_title_mob h1 {
        display: inline-block;
        width: 30%;
        margin: 8%;
        text-align: center;
    }

    .gallery_title_mob p {
        display: inline-block;
        width: 30%;
        margin-left: 60%;
    }

    .gallery_title_mob a:link {
        color: white;
        padding: 5px 10px 5px 10px;
        margin-left: 70%;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 50px;
    }

    .gallery_title_mob a:visited {
        color: white;
    }
}