body {
    background-color: black;
    display: flex;
    font-family: Montserrat, Arial,sans-serif;
}


header {
    top: 0;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

header img {
    display: inline-block;
    width: 30%;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.logo a:link {
    color: white;
    text-decoration: none;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 40px;
    transition: 400ms;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 44%;
    margin-right: 44%;
    /* box-sizing: border-box;
    background: linear-gradient(90deg,  #4b03f4, #8e04ff, #c73bff, #f403b8, #4b03f4);
    background-size: 300%; */
}
.logo a:visited {
    color: white;
    border: 1px solid black;
}
.logo a:hover {
    margin-right: 43%;
    margin-left: 43%;
    color: white;
    border: 1px solid black;
    transition: 400ms; 
    color: black;
    background: white;
    /* animation: animate 8s linear infinite; */
} 

/* @keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 300%;
    }
} */

.menu_options {
    width: calc(100% - 250px);
    display: inline-block;
}

.menu_options a:link { 
    margin: 50px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-bottom: 1px solid black;
    padding-left: 25px;
    padding-right: 25px;
    transition: 400ms; 
    border-radius: 40px;
}

.menu_options a:visited {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    padding: 5px;
    transition: 400ms; 
    border-radius: 40px;
}

.menu_options a:hover {
    border: 2px solid white;
    padding-right: 25px;
    padding-left: 25px;
    transition: 400ms; 
    border-radius: 40px;
}


.about_self {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 300px;
}

#face_photo {
    border-radius: 150px;
    width: 200px;
    height: 220px;
    margin-top: 30px;
}

.about_self .text_info {
    color: white;
    margin: 30px;
    width: 500px;
}

#about_self_mob {
    display: none;
}

@media only screen and (max-width:400px) {
    body {
        background-color: black;
        display: flex;
        font-family: Montserrat, Arial,sans-serif;
        flex-direction: column;
    }

    .about_self {
        display: none;
    }
    
    .hr_ver 
    {
        display: none;
    }

    header
    {
        display: none;
    }








    #header_options_mob
    {
        display: flex;
        margin-top: 4px;
        width: 100%;
        justify-content: space-evenly;
        font-size: 12;
        margin-bottom: 12px;
    }

    #header_options_mob a:link
    {
        color: white;
        text-decoration: none;
        border: 1px solid white;
        padding: 2px 6px;
        border-radius: 100px;
        transition: 300ms;
    }

    #header_options_mob a:visited
    {
        color: white;
        text-decoration: none;
        border: 1px solid white;
        padding: 2px 6px;
        border-radius: 100px;
        transition: 300ms;
    }

    #header_options_mob a:hover
    {
        color: black;
        background-color: white;
        transition: 300ms;
    }

    #about_self_mob
    {
        display: flex;
        flex-direction: row;
        margin-top: 100;
    }

    #face_photo_mob 
    {
        width: 20%;
        height: 13%;
        border-radius: 100px;
        margin: 20px;       
    }

    .text_info_mob 
    {
        color: white;
        font-size: 10px;
        width: 60%;
    }

}